/* Estilos solo para contacto.html */
.bleach-FormularioDeContacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 5% 15% 0% 15%;
}

.bleach-FormularioDeContacto .text-section {
    max-width: 600px;
}

