/* Estilos solo para index.html */
.bleach-Description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5% 15% 0% 15%;
}

.bleach-Description #banner {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bleach-Description .text-section {
    max-width: 600px;
}
