/* Estilos solo para index.html */
.bleach-Description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5% 15% 0% 15%;
}

@media (max-width: 900px) {
    .bleach-Description {
        margin-bottom: 20%; /*Esto es un arreglo malisimo, un parche, pero sino el footer queda encima del contenido.*/
                            /*Si sabe una solucion estoy encantado de escucharla*/
    }
}

.bleach-Description #banner {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bleach-Description .background-overlay {
    max-width: 600px;
}
